.profile-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.follow-btn {
  position: relative;
  bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-info-container {
  width: 90%;
  border: 1px solid gray;
  height: 275.5px;
  overflow-y: scroll;
}

.movie-card-img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
}

.card-container {
  transition: 0.5s;
}

.card-container:hover {
  transform: translateY(-4px);
}

.movie-year {
  margin-top: 5px;
  color: gray;
}